{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}
<style>
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        background: linear-gradient(180deg, #FFF0E5, #D8B99A) !important;
        background-attachment: fixed;
    }
    .registration-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        min-height: 100vh;
        padding: 20px;
    }
    .sidebar {
        background-color: rgba(255, 255, 255, 0.85);
        width: 250px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        margin-right: 40px;
    }
    .form-container {
        background-color: rgba(255, 255, 255, 0.85);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 600px;
        justify-content: center;
    }
    .sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .sidebar ul li {
        margin-bottom: 20px;
    }
    .sidebar ul li a {
        font-weight: 600;
        font-size: 1.1rem;
        padding: 10px;
        display: block;
        background-color: #3498db;
        color: white;
        text-align: center;
        border-radius: 8px;
        transition: all 0.3s ease;
        margin-left: 10px; 
    }
    .sidebar ul li a:hover {
        background-color: #2980b9;
    }
</style>

<div class="container my-5">
    <h4 class="text-center">Welcome, {{ request.user.username|capfirst }}</h4>
    <a href="{% url 'profile' %}" class="btn btn-outline-primary">Change Password</a>
    <div class="registration-container">

        <div class="form-container shadow p-5 rounded-4">
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {% for fm in form %}
                    <div class="form-group">
                        {{ fm.label_tag }}
                        {{ fm }}
                        <small class="text-danger">{{ fm.errors|striptags }}</small>
                    </div>
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-outline-primary">Submit</button>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger mt-3 alert-custom">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock main-content %}
