{% extends 'base.html' %}
{% load static %}
{% block title %}Password Reset Done {% endblock title %}
{% block main-content %}
<style>
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        background: linear-gradient(180deg, #FFF0E5, #D8B99A) !important;
        background-attachment: fixed;
    }
</style>
<div class="container my-5">
    <div class="row">
        <div class="registration-container">
            <h3>Welocme {{request.user.username|capfirst}}</h3>
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid">
                        <a href="{% url 'profile' %}" class="btn btn-outline-primary">Change Password Done</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 offset-sm-3 text-center">
                <h3>Successfully Reset Password!!!</h3>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}