{% extends 'base.html' %}
{% load static %}
{% block title %}Password Reset Done{% endblock title %}
{% block main-content %}
<style>
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        background: linear-gradient(180deg, #FFF0E5, #D8B99A) !important;
        background-attachment: fixed;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding: 20px;
    }
    .form-container {
        background-color: rgba(255, 255, 255, 0.85);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 600px;
    }
</style>
<div class="container">
    <div class="form-container">
        <div class="col-sm-6 offset-md-3">
            <h3 class="alert-heading">Thanks a Lot!</h3>
            <p>An Email has been sent with instructions to reset your password<br><b>Please Check Your Email</b></p>
        </div>
    </div>
</div>
{% endblock main-content %}